/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "CormorantGaramond-Light";
  src: url(assets/type/CormorantGaramond-Light.ttf);
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme: light dark;
  --color: light-dark(black, white);
  --background: light-dark(white, black);
  --header: light-dark(#D3ECA6, #355E3B);
  --header-h1: light-dark(black, white);
  --header-label: light-dark(#b6ce88, #2b4f31);
  --left-column: light-dark(#D3ECA6, #355E3B);
  --right-column: light-dark(#fcd5ff, #b884a7);
  --main-button: light-dark(#e26d67, #c55751);
  --webright: light-dark(#D3ECA6, #355E3B);
}

html:has([value="light"]:checked) {
  color-scheme: light;
}

html:has([value="dark"]:checked) {
  color-scheme: dark;
}

main {
  display:grid;
  grid-template-columns: 6fr 1fr 1fr 15fr;
}

main p {
  font-size: 0.80em;
}

article:first-child {
  background-color: var(--left-column);
  padding: 1em 2em;
  display: grid;
  flex-direction: column;
  justify-content: left;
  grid-column: 1 / 2;
  grid-row: 4;
}

main>button {
  background-color: var(--main-button);
  grid-column: 2 / 4;
  grid-row: 4;
}

article:nth-of-type(2) {
  background-color: var(--right-column);
  padding: 2.5em 2em;
  display: grid;
  flex-direction: column;
  justify-content: right;
  grid-column: 4 / 5;
  grid-row: 4;
}

body {
  font-family: "Comic Relief", system-ui;
  background-color: Canvas;
  color: CanvasText;
  background: var(--background);
  color: var(--color);
}

header {
background: var( --header);
}

header h1 {
color: var( --header-h1);
}

header label:has(:checked) {
background: var( --header-label);
border-radius: 1em;
}

header {
  position:sticky;
  top:0;
  z-index:100;
  padding:.2em .40em;

  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  }
  
header h1 {
  margin:0;
  }
  
header form {
  margin:0;
  padding:0;

  display:flex;
  flex-wrap:wrap;
  gap:.5em;

  border:none;
  }
  
  /* OPTIONS */
header label {
  padding:.5em;
  display:flex;
  place-items:center;
  gap:.5em; 
  cursor:pointer;
  }
  
header input {
  margin:0;
  cursor:pointer;
  }

label {
display: grid;
margin-block-end: var( --whitespace-xs);
}

label:has(input[type="checkbox"]) {
display: flex;
gap: .2em;
align-items: baseline;
}

footer {
  background: var(--webright);
}